.wrapper {
  width: 1200px
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  background-color: red;
  height: var(--header-height);
}

.nav-bar {
  background-color: yellow;
  height: 26px;
  width: 40%;
}

.container {
  padding: 12px 0;
}

.content-field {
  margin: 8px 0;
}

.banner-left {
  height: 600px;
  background-color: blue;
}

.img-container.img-container--primary {
  height: 300px;
  background-color: red;
}

.img-container {
  margin: 16px 0;
  margin-bottom: 12px;
  background-color: gray;
}

.img-container img {
  width: 100%;
}

.content-desc {
  margin: 16px 0;
  height: 250px;
  background-color: orange;
}
